# output
bin/*
*.tga

# maya files
output.mel
resources/workspace.mel
resources/*.ma
resources/*.mtl
.mayaSwatches/

# backups
*.bk
*.orig

# temp files
.sconsign.dblite
src/*.o
include/template.h
src/template.cpp
test
tmp/

# Windows MSVC files
src/*.obj
*.idb
*.pdb
*.vcproj.*
*.suo
*.ncb
Debug
Release
